{% extends "base.html" %}

{% block content %}

    <div class="hello">
		<p>
			<h2>Purpose</h2>
			Founded for the purpose of fulfilling the SOEN 287 assignements, the MTL Dingers
			are a storied franchise of the NHL. Having won 20 Stanley Cups, aswell as housing some of the greatest players in league history, such as Mo IceWalker, a website was created for fans to better follow their favourite team!
			<br>
			<br>
		</p>

		<p>
			Like any other team professional hockey team, a website is made for fans to further enhance their experience. On these websites they share a variety information related to their team such as:

			<ul>
				<li>Player photos</li>
				<li>Player statistics</li>
				<ul>
					<li>Goals</li>
					<li>Assists</li>
					<li>Points</li>
					<li>+/-</li>
				</ul>
				<li>Team Schedule</li>
				<li>Team ranking within the league</li>
				<li>Buying tickets for future games</li>
			</ul>

			<table border = "1">

				<h2>Sections and Descriptions</h2>

				<tr>
					<th>Sections</th>
					<th>Descriptions</th>
				</tr>

				<tr>
					<th> Players </th>
					<td> This section will be dedicated for fans to be able to observe player photos, statistics, aswell as cool anectdotes!
				<tr/>

				<tr>
					<th>Schedule</th>
					<td>This section is for fans to be able to view upcoming games that the team will be playing in the future!
				</tr>

				<tr>
					<th>Ranking</th>
					<td>How good are we compared to other teams? Check the rankings and see how close we are to making the playoffs!
				</tr>

			</table>
		</p>
		<p>
			</br></br></br>
			<h2>NHL Website:</h2>
			<a href="https://www.nhl.com"><img src="https://upload.wikimedia.org/wikipedia/en/3/3a/05_NHL_Shield.svg"></a>
			</br></br></br>
			<h2>Some Examples of Other Team Websites:</h2>
			<a href="https://www.nhl.com/blackhawks">Chicago Blackhawks</a>
			</br></br>
			<a href="https://www.nhl.com/canadiens">Montreal Canadiens</a>
			</br></br>
			<a href="https://www.nhl.com/avalanche">Colorado Avalanche</a>
		</p>
		<p>
			</br></br></br>
			<h2>Sketch of Potential Website:</h2>
			<img src="../static/Sketch.jpg" height="352" width="480"/>
		</p>
	</br></br></br>
		<a href="#The Dingers of MTL">Top</a>
</div>
{% endblock %}