{% extends "base.html" %}

{% block content %}


<table class ="table">
    <thead class="thead-dark">
    <tr>
        <th>Player</th>
        <th>#</th>
        <th>Pos</th>
        <th>Sh</th>
        <th>Ht</th>
        <th>Wt</th>
        <th>Born</th>
        <th>Birthplace</th>
        </tr>
    </thead>
    <tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=130519"><img src="https://www.hockeydb.com/ihdb/photos/max-domi-2020-45.jpg" alt = "Domi"width="65" height="80"><br />Max Domi</a>
        </td>
        <td>13</td>
        <td>C</td>
        <td>L</td>
        <td>5' 10"</td>
        <td>192 lbs</td>
        <td>Mar 2, 1995</td>
        <td>Winnipeg, MB, CAN</td>
    </tr>
    <tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=2035"><img src="https://www.hockeydb.com/ihdb/photos/wayne-gretzky-1996-40.jpg" alt = "Gretzky" width="65" height="80"><br />Wayne Gretzky</a>
        </td>
        <td>99</td>
        <td>C</td>
        <td>L</td>
        <td>6' 0"</td>
        <td>185 lbs</td>
        <td>Jan 26, 1961</td>
        <td>Brantford, ON, CAN</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.facebook.com/profile.php?id=100000332814440"><img src = "static/Hammer time.jpg" alt = "Gretzky" width="65" height="80"><br />Hamza Shaikh</a>
        </td>
        <td>1</td>
        <td>G</td>
        <td>R</td>
        <td>8' 7"</td>
        <td>222 lbs</td>
        <td>Dec 8, 2000</td>
        <td>Karachi, PAK</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=3158"><img src="https://www.hockeydb.com/ihdb/photos/eric-lindros-1996-53.jpg" alt = "Lindros" width="65" height="80"><br />Eric Lindros</a>
        </td>
        <td>88</td>
        <td>C</td>
        <td>R</td>
        <td>6' 4"</td>
        <td>230 lbs</td>
        <td>Feb 28, 1973</td>
        <td>London, ON, CAN</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=96607"><img src="https://www.hockeydb.com/ihdb/photos/steven-stamkos-2019-55.jpg" alt = "Stamkos" width="65" height="80"><br />Steven Stamkos</a>
        </td>
        <td>91</td>
        <td>C</td>
        <td>R</td>
        <td>6' 1"</td>
        <td>194 lbs</td>
        <td>Feb 7, 1990</td>
        <td>Markham, ON, CAN</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=2187"><img src="https://www.hockeydb.com/ihdb/photos/dominik-hasek-2008-34.jpg" alt = "Hasek" width="65" height="80"><br />Dominik Hasek</a>
        </td>
        <td>39</td>
        <td>G</td>
        <td>L</td>
        <td>6' 2"</td>
        <td>180 lbs</td>
        <td>Jan 29, 1965</td>
        <td>Pardubice, CZE</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=662"><img src="https://www.hockeydb.com/ihdb/photos/pavel-bure-1996-39.jpg" alt = "Bure" width="65" height="80"><br />Pavel Bure</a>
        </td>
        <td>9</td>
        <td>RW</td>
        <td>L</td>
        <td>5' 10"</td>
        <td>192 lbs</td>
        <td>Mar 31, 1971</td>
        <td>Moscow, RUS</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=93829"><img src="https://www.hockeydb.com/ihdb/photos/jonathan-toews-2020-35.jpg" alt = "Toews" width="65" height="80"><br />Jonathan Toews</a>
        </td>
        <td>19</td>
        <td>C</td>
        <td>L</td>
        <td>6' 2"</td>
        <td>201 lbs</td>
        <td>Apr 29, 1988</td>
        <td>Winnepeg, MAN, CAN</td>
    </tr>
<tr>
        <td class="name-col">
            <a href="https://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=166010"><img src="https://www.hockeydb.com/ihdb/photos/david-pastrnak-2019-32.jpg" alt = "Pasta" width="65" height="80"><br />David Pastrnak</a>
        </td>
        <td>88</td>
        <td>RW</td>
        <td>R</td>
        <td>6' 0"</td>
        <td>194 lbs</td>
        <td>May 25, 1996</td>
        <td>Havirov, CZE</td>
    </tr>

</table>


{% endblock %}