{% extends "base.html" %}

{% block content %}
<style>
td{width: 90px; height:90px;}
*{box-sizing: border-box;}
.incell{float: right;}

</style>


<table class = "table", border = "1">
    <caption><h2>March</h2></caption>
   <thead class ="thead-dark">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5<a href="https://www.nhl.com/canadiens"><img class="incell" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Montreal_Canadiens.svg/1200px-Montreal_Canadiens.svg.png" alt = "Domi"width="105" height="80"><br />MTL<br/>7:00 PM</a></td>
        <td>6</td>
        <td>7</td>

    </tr>
    <tr>
        <td>8<a href="https://www.nhl.com/flyers"><img class="incell" src="https://www.stickpng.com/assets/images/5a4fbba3da2b4f099b95da1a.png" alt = "Gretzky" width="105" height="80"><br /><br />PHI<br/>7:00 PM</a></td>
        <td>9</td>
        <td>10<a href="https://www.nhl.com/sharks"><img class="incell" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/SanJoseSharksLogo.svg/1200px-SanJoseSharksLogo.svg.png" alt = "Gretzky" width="105" height="90"><br />@SJ<br/>7:00 PM</a></td>
        <td>11</td>
        <td>12</td>
        <td>13<a href="https://www.nhl.com/blackhawks"><img class="incell" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nhl/500/chi.png" alt = "Gretzky" width="100" height="100"><br />CHI<br/>7:00 PM</a></td>
        <td>14</td>
    </tr>
    <tr>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19<a href="https://www.nhl.com/blackhawks"><img class="incell" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nhl/500/chi.png" alt = "Gretzky" width="100" height="100"><br />CHI<br/>7:00 PM</a></td>
        <td>20</td>
        <td>21<a href="https://www.nhl.com/canadiens"><img class="incell" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Montreal_Canadiens.svg/1200px-Montreal_Canadiens.svg.png" alt = "Domi"width="105" height="90"><br />@MTL<br/>7:00 PM</a></td>
    </tr>
    <tr>
        <td>22</td>
        <td>23<a href="https://www.nhl.com/sharks"><img class="incell" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/SanJoseSharksLogo.svg/1200px-SanJoseSharksLogo.svg.png" alt = "Gretzky" width="105" height="90"><br />SJ<br/>7:00 PM</a></td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27<a href="https://www.nhl.com/flyers"><img class="incell" src="https://www.stickpng.com/assets/images/5a4fbba3da2b4f099b95da1a.png" alt = "Gretzky" width="105" height="80"><br /><br />@PHI<br/>7:00 PM</a></td>
        <td>28</td>
    </tr>
    <tr>
        <td>29<a href="https://www.nhl.com/blackhawks"><img class="incell" src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nhl/500/chi.png" alt = "Gretzky" width="100" height="100"><br />@CHI<br/>7:00 PM</a></td>
        <td>30</td>
        <td>31</td>
        <td bgcolor="#f0f8ff">1</td>
        <td bgcolor="#f0f8ff">2</td>
        <td bgcolor="#f0f8ff">3</td>
        <td bgcolor="#f0f8ff">4</td>
    </tr>
</table>
        </div>

{% endblock %}