{% extends "base.html" %}

{% block content %}
<table class="table">

<thead class="thead-dark">
    <tr>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>OTL</th>
        <th>Points</th>
    </tr>
</thead>
    <tr>
        <td><a href="main"><img src="static/IMGBIN_2017-18-nhl-season-ice-hockey-sport-logo-png_TSyTuzvc.png" alt = "Domi"width="90" height="105"><br />Montreal Dingers</a></td>
        <td>10</td>
        <td>2</td>
        <td>1</td>
        <td>21</td>
    </tr>
    <tr>
        <td><a href="https://www.nhl.com/blackhawks"><img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nhl/500/chi.png" alt = "Gretzky" width="90" height="105"><br />Chicago Blackhawks</a></td>
        <td>10</td>
        <td>3</td>
        <td>0</td>
        <td>20</td>
    </tr>
    <tr>
        <td><a href="https://www.nhl.com/canadiens"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Montreal_Canadiens.svg/1200px-Montreal_Canadiens.svg.png" alt = "Domi"width="105" height="80"><br />Montreal Canadiens</a></td>
        <td>2</td>
        <td>4</td>
        <td>5</td>
        <td>9</td>
    </tr>
    <tr>
        <td><a href="https://www.nhl.com/sharks"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/SanJoseSharksLogo.svg/1200px-SanJoseSharksLogo.svg.png" alt = "Gretzky" width="105" height="90"><br />San Jose Sharks</a></td>
        <td>0</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
    </tr>
    <tr>
        <td><a href="https://www.nhl.com/flyers"><img src="https://www.stickpng.com/assets/images/5a4fbba3da2b4f099b95da1a.png" alt = "Gretzky" width="105" height="80"><br />Philadelphia Flyers</a></td>
        <td>0</td>
        <td>12</td>
        <td>2</td>
        <td>2</td>
    </tr>
</table>
{% endblock %}